<h2><%= @article.title %></h2>

<div class="article-info">
  <span>Written by <%= link_to @article.author.username, user_path(@article.author) %> on <%= @article.created_at %>.</span><br>
  <p><%= @article.body %></p>
  <span>PLACEHOLDER FOR FLAG</span>
</div>

<h2>Comments</h2>
<div class="article-comments">
  <% @article.comments.each do |comment| %>
  <div class="comment">
    <p><%= comment.body %><br>
    Written by <%= link_to comment.author.username, user_path(comment.author) %> on <%= comment.created_at %>.</p>
  </div>
  <span>PLACEHOLDER FOR FLAG</span>
  <% end %>
</div><br>

<p id="notice"><%= notice %></p>

<% if logged_in? %>
  <%= form_for :comment, url: article_comments_path(@article) do |comment| %>
      <p>Write a new comment!</p>
      <%= comment.text_area :body, :cols => "100", :rows => "10" %><br>
      <%= comment.submit value="Comment!" %>
  <% end %>
<% end %>
