<%= javascript_include_tag Ckeditor.cdn_url %>

<p class="notice"><b><%= notice %></b></p>

<h2><%= @article.title %></h2>

<h3>Category: <%= @article.category.name %></h3>

<div class="article-info">
  <span>Written by <%= link_to @article.author.username, user_path(@article.author) %> on <%= @article.created_at %>.</span><br>
  <p><%= @article.body.html_safe %></p>
  <span>PLACEHOLDER FOR FLAG</span><br><br>

  <% if authorized?(@article.author) %>
      <%= link_to "Edit Article!", edit_article_path(@article)%>
  <% end %>

</div>

<h2>Comments</h2>
<div class="article-comments">
  <% @article.comments.each do |comment| %>
  <div class="comment">
    <p><%= comment.body.html_safe %><br>
    Written by <%= link_to comment.author.username, user_path(comment.author) %> on <%= comment.created_at %>.</p>
  </div>
  <span>PLACEHOLDER FOR FLAG</span>
  <% end %>
</div><br>

<p class="alert"><%= alert %></p>

<% if logged_in? %>
  <%= form_for :comment, url: article_comments_path(@article), html: {id: "new_comment"} do |comment| %>
      <p>Write a new comment!</p>
      <%= comment.cktext_area :body, ckeditor: { language: 'en' }%>
      <%= comment.submit value="Comment!" %>
  <% end %>
<% end %>
