<%= javascript_include_tag Ckeditor.cdn_url %>

<h1><%= @user.username %></h1>

<p class="notice"><b><%= notice %></b></p>

<p><img src="<%= @user.profile_pic_url %>"></p>

<% if logged_in? && authorized?(@user) %>

  <%= form_for @user do |user| %>

    <p>
    <%= user.label :bio %></br>
    <%= user.cktext_area :bio, ckeditor: { language: 'en' }%>
    </p>

    <p>
    <%= user.submit value="Submit" %>
  </p>

  <% end %>

<% else %>

<%= @user.bio.html_safe %>

<% end %>

<% if logged_in? && authorized?(@user) %>
  <%= link_to "Create a New Article!", new_article_path%>
<% end %>

<% if logged_in? && authorized?(@user) %>
<div class="unpublished-articles">
  <h3>Unfinished Works</h3>
  <ul class="unpublished_articles">
  <% @user.unpublished_articles.each do |article| %>
    <li><%= link_to article.title, article_path(article)%>
    </li>
  <% end %>
  </ul>
</div>
<% end %>

<div class="published-articles">
  <h3>Authored Articles</h3>
  <ul class="authored_articles">
  <% @user.published_articles.each do |article| %>
    <li><%= link_to article.title, article_path(article)%>
    </li>
  <% end %>
  </ul>
</div>

<div class="authored-comments">
  <h3>Authored Comments</h3>
  <ul class="authored_comments">
  <% @user.comments.each do |comment| %>
    <li><%= link_to comment.body.html_safe, article_path(comment.article)%>
    </li>
  <% end %>
  </ul>
</div>
