<h1><%= @user.username %></h1>

<p class="notice"><b><%= notice %></b></p>

<p>PLACEHOLDER FOR PROFILE PICTURE</p>
<p>PLACEHOLDER FOR USER BIO</p>
<p>PLACEHOLDER FOR NEW ARTICLE BUTTON</p>

<% if logged_in? %>
  <%= link_to "Create a New Article!", new_article_path%>
<% end %>
<p>PLACEHOLDER FOR SAVED DRAFTS FUNCTIONALITY</p>

<h3>Authored Articles</h3>

<ul class="authored_articles">
<% @user.articles.each do |article| %>
  <li><%= link_to article.title, article_path(article)%>
  </li>
<% end %>
</ul>

<h3>Authored Comments</h3>

<ul class="authored_comments">
<% @user.comments.each do |comment| %>
  <li><%= link_to comment.body, article_path(comment.article)%>
  </li>
<% end %>
</ul>
