<tr class="revision-table-headers">
  <th></th>
  <th>Previous Version</th>
  <th>Edited Version</th>
</tr>
<tr>
  <th class="revision-table-key"><%= revision.revised_attribute.capitalize %><br><%= revision.created_at.strftime('%D, %R(%Z)') %></td>
  <td class="revision-table-values"><%= revision.before_value.html_safe %></td>
  <td class="revision-table-values"><%= revision.revised_value.html_safe %></td>
  <% if current_user && (authorized?(@article.author) || current_user.is_admin?) %>
  <td class="revision-table-button">
    <%= form_for revision, url: revise_path(revision.object, revision) do |f| %>

      <%= f.submit %>
    <% end %>
  </td>
  <% end %>
</tr>
