<%= javascript_include_tag Ckeditor.cdn_url %>

<div class="grid page-container">
	<div class="article-box col-1-3">

		<span><h3><%= @category.name %></h3></span>
		<% if logged_in? %>
		  <%= link_to "Create a New Article!", new_article_path(:cat_id => @category.id) %>
		<% end %>
		<% if !(@articles.empty?) %>
		<ul>
			<% @articles.each do |article| %>
				<li><%= link_to article.title.html_safe, article %></li>
	  	<% end %>
		</ul>
		<% end %>
	</div>

	<% if !(@articles.empty?) %>
	<div class="featured-article-container col-1-3">
		<h3 class="featured-link"><%= link_to @featured.title.html_safe, article_path(@featured) %></h3>
		<p>contributed by <%= link_to @featured.author.username, @featured.author %> | <%= @featured.comments.count %> comments | <%=time_ago_in_words(@featured.created_at) %> ago
    </p>
		<div>
			<%= @featured.body.html_safe %>
		</div>
	</div>
	<% end %>

</div>
