<div class="grid page-container">
	<div class="article-box col-1-3">
		<span><h3><%= @category.name %></h3></span>
		<% if logged_in? %>
		  <%= link_to "Create a New Article!", new_article_path(:cat_id => @category.id) %>
		<% end %>
		<ul>
			<% @articles.each do |article| %>
				<li><%= link_to article.title.html_safe, article %></li>
	  	<% end %>
		</ul>
	</div>

	<div class="featured-article-container col-1-2">
		<span>
			<h3><%= @featured.title %></h3>
		</span>
		<span><%= link_to @featured.title.html_safe, article_path(@featured) %></span>
		<div class="article-content"><%= @featured.body.html_safe%></div>
	</div>
</div>