<!DOCTYPE html>
<html>
  <head>
    <title>Spookypedia</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Creepster|Lato:300|Oswald:300', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <header>
    <!-- Halloween countdown here -->
    <nav>
      <% if current_user && current_user.is_admin? %>
        <%= link_to current_user.username, user_path(current_user.id) %> | <%= link_to "Logout", {:controller=> "sessions", :action=> "destroy"}, :method => :delete %> | <%= link_to "Home", categories_path %> | <%= link_to "Admin", user_admins_path(current_user) %>
      <% elsif current_user %>
        <%= link_to current_user.username, user_path(current_user.id) %> | <%= link_to "Logout", {:controller=> "sessions", :action=> "destroy"}, :method => :delete %> | <%= link_to "Home", categories_path %>
      <% else %>
        <%= link_to "Register", new_user_path %> | <%= link_to "Login", new_session_path %> | <%= link_to "Home", categories_path %>
      <% end %>
    </nav>
    <h1><%= link_to "Spookypedia!", root_path %></h1>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
