<!DOCTYPE html>
<html>
  <head>
    <title>Spookypedia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <header>
    <!-- Halloween countdown here -->
    <h1>Spookypedia!</h1>
  </header>
  <body>
    <nav>
      <% if !logged_in? %>
      <%= link_to "Register", new_user_path %> | <%= link_to "Login", new_session_path %> | <%= link_to "Home", categories_path %>
      <% else %>
      <%= link_to current_user.username, user_path(current_user.id) %> | <%= link_to "Logout", {:controller=> "sessions", :action=> "destroy"}, :method => :delete %> | <%= link_to "Home", categories_path %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
